body {
    margin: 0;
    background: black;
}

.form {
    background: white;
    width: 400px;
    height: 450px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50% );
}

input {
    margin-top: 20px;
    height: 30px;
    width: 350px;
    border-radius: 10px;
    border-color: rgba(128, 128, 128, 0.281);
    outline-color: rgba(128, 128, 128, 0.571);
}


button {
    outline: none;
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 130px;
    position: relative;
    top: 170px;
    transition: 1s;
    font-size: 15px;
}

.error {
    position: absolute;
    left: 25px;
    color: rgb(255, 80, 80);
}

button:hover {
    background: grey;
}